@charset "utf-8";

/* 모든 디바이스 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  font-weight: 400;
}

/* 컨테이너 */
.container {
  background: silver;
  display: flex;
  flex-flow: wrap;
  /*단축 표기법*/
}

/* 헤더 */
.header {
  background: yellow;
  height: 10vh;
}

/* 네비게이션 */
.navigation {
  background: pink;
  height: 10vh;
}

/* 메인 콘텐츠 */
.main-content {
  background: skyblue;
  height: 50vh;
}

/* 광고 */
.ad {
  background: orange;
  height: 20vh;
}

/* 푸터 */
.footer {
  background: lime;
  height: 10vh;
}

/* 모바일 스타일 */
@media screen and (max-width: 799px) {

  /* 헤더 */
  .header {
    flex: 1 1 100%;
    order: -1;
  }

  /* 네비게이션 */
  .navigation {
    order: -1;
    flex: 1 1 100%;
  }

  /* 메인 콘텐츠 */
  .main-content {
    height: 50vh;
    flex: 1 1 100%
  }

  /* 광고 */
  .ad {
    order: -1;
    flex: 1 1 100%;
  }

  /* 푸터 */
  .footer {
    height: 10vh;
    flex: 1 1 100%;
  }
}

/* 테블릿 스타일 */
@media screen and (min-width: 50em) {

  /* 컨테이너 */
  .container {}

  /* 메인 콘텐츠 */
  .main-content {}

  /* 광고 */
  .ad {}
}

/* 랩탑 스타일 */
@media screen and (min-width: 64em) {

  /* 컨테이너 */
  .container {}

  /* 메인 콘텐츠 */
  .main-content {}

  /* 광고 */
  .ad {}
}

/* 와이드스크린 스타일 */
@media screen and (min-width: 100em) {

  /* 컨테이너 */
  .container {}

  /* 메인 콘텐츠 */
  .main-content {}

  /* 광고 */
  .ad {}
}