@charset "utf-8";
/* 반응형 이미지 */

.container{
  display:flex;
  flex-wrap: wrap;
}

.rwd-container{
  border : 10px solid #aaa;
  box-sizing: border-box;
  margin:0;
  padding:0;
  flex: 1 0 50%;
}

.rwd-img{
  max-width: 100%; /* 원본 크기만큼 커지지 말라고 설정 */
  height: auto;
}